# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Docker
*.log
.docker/
docker-compose.override.yml

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject

# Virtual environments (redundant but good to be explicit)
venv/
.env/
.env
